{% extends 'base.html.twig' %}

{% block title %}Hello SweatShirtController!
{% endblock %}

{% block body %}
	{% if products %}
		{% for product in products %}
			<p>{{product.name}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}
