{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}

	<main>
		{% for product in products %}
			{% if product.isPromoted == true %}
				<div class="card">
					<div class="card-body">
						<p>{{product.name}}</p>
					</div>
				</div>

			{% endif %}

		{% endfor %}
	</main>

	{% include "footer.html.twig" %}
{% endblock %}
