{% extends "base.html.twig" %}

{% block body %}
	<footer>
		<ul>
			<li>
				<h3>Nous contacter</h3>
			</li>
			<li>
				<p>Stubborn</p>
			</li>
			<li>
				<p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
			</li>
			<li>
				<p>stubborn@blabla.com</p>
			</li>
		</ul>
	</footer>
{% endblock %}
